* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  background-color: #344a72;
}

a {
  text-decoration: none;
}

#container {
  /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    
    */

  border-top: 1px solid red;
  padding-top: 5%;
}

.form-wrap {
  /* 
      This is the white area around the form and heading, etc
    */
  background-color: white;
  height: 600px;
  width: 350px;
  margin: 0 auto;
}

.form-wrap h1,
.form-wrap p {
  /* 
      May want to center these
    */
  /* border-top: 2px solid green; */
  text-align: center;
  padding: 10px;
}

.form-wrap .form-group {
  /* 
      Each label, input is wrapped in .form-group
    */
  padding: 4%;
}

.form-wrap .form-group label {
  /* 
      Label should be turned into a block element
    */
  display: block;
}

.form-wrap .form-group input {
  /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
      
    */
  /* border: solid 2px pink; */
  width: 100%;
  padding: 3%;
  border: none;
  border-bottom: 1px solid lightgray;
}

.form-wrap button {
  /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
  display: block;
  background-color: #49c1a2;
  border: none;
  border-radius: 10px;
  width: 90%;
  height: 30px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  /* border: solid 3px orange; */
}

.form-wrap button:hover {
  /* 
      Hover background color for button is #37a08e
    */
  background-color: #37a08e;
}

.form-wrap .bottom-text {
  /* 
      Bottom text is smaller
    */
  font-size: 14px;
}

footer {
  /* 
    Should be centered
   */
  padding-top: 20px;
  text-align: center;
  color: white;
}

footer a {
  /* 
      Footer link color is #49c1a2
    */

  color: #49c1a2;
}
