* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8cd;
}
.container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box {
  width: 150px;
  height: 150px;
}

.box1 {
  background-color: green;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: red;
}
